<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>m-ld</title>
  {% include 'gtag.liquid' %}
  <link rel="stylesheet" href="main.css">
  <script>
    // Re-direct faq and news questions to the relevant pages
    {% for topic in collections.topic %}
    {% unless topic.data.tags[1] == 'why' %}
    if (window.location.hash === '#{{ topic.fileSlug }}')
      window.location = '/{{ topic.data.tags[1] }}/#{{ topic.fileSlug }}'
    {% endunless %}
    {% endfor %}
  </script>
</head>

<body>
  <section class="hero is-medium is-light">
    <div class="hero-body">
      <div class="container has-text-centered">
        <img src="m-ld.svg" width="400em" />
      </div>
    </div>
  </section>
  <section class="section is-small">
    <div class="columns has-text-centered">
      {% assign items = "news,demo,playground,faq,hello" | split: ',' %}
      {%- for item in items -%}
        <div class="column">
          <a class="level-item button is-medium is-light has-text-dark"
             href="/{{ item }}/"
             {% if item == 'demo' or item == 'playground' %}target="_blank"{% endif %}>
            {% if item == 'hello' %}feedback{% else %}{{ item }}{% endif %}
          </a>
        </div>
      {%- endfor -%}
    </div>
  </section>
  <section id="intro" class="section">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <h1 class="title has-text-centered">{{index.tagline}}</h1>
        <div class="content has-text-justified">
          {% include 'intro.html' %}
        </div>
      </div>
    </div>
  </section>
  <section id="news-banner" class="hero is-warning">
    <div class="hero-body">
      <div class="container content has-text-centered is-size-5">
        <a href="/news/#securing-shared-information">
          <span>NEWS: security research in partnership with </span>
          <img src="/media/logo_nlnet.svg" alt="NLnet" />
          <span> and </span>
          <img src="/media/NGIAssure.svg" alt="NGI Assure" />
        </a>
      </div>
    </div>
  </section>
  <section id="streams" class="section">
    <div class="columns has-text-centered">
      <div class="column">
        <a class="box" href="/doc/" style="height: 100%">
          <h1 class="title is-4">docs</h1>
          <img src="/media/architecture.svg" />
        </a>
      </div>
      <div class="column">
        <a class="box" href="https://spec.m-ld.org/#clone-api" style="height: 100%">
          <h1 class="title is-4">api</h1>
          <div class="content has-text-left">
            <pre>{% include 'api-example-1.json' %}</pre>
          </div>
          <div class="content has-text-left">
            <pre>{% include 'api-example-2.json' %}</pre>
          </div>
        </a>
      </div>
      <div class="column">
        <div class="box" style="height: 100%">
          <h1 class="title is-4">platforms</h1>
          <div class="buttons are-medium">
            {%- for platform in index.platforms -%}
            {% if platform.url %}
            <a class="button is-light is-fullwidth" href="{{platform.url}}">
            {% else %}
            <a class="button is-light is-fullwidth is-static">
            {% endif %}
              <span class="icon"><i class="{{platform.icon}}"></i></span>
              <span class="has-text-dark">{{platform.name | downcase}}</span>
              {% if platform.soon %}
              <span class="tag is-warning" style="margin-left: 1em;">soon!</span>
              {% elsif platform.request %}
              <span class="tag is-primary" style="margin-left: 1em;">request</span>
              {% endif %}
            </a>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="why" class="section">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <h1 class="title is-4 has-text-centered">why?</h1>
        {%- for why in collections.why -%}
        <article id="{{ why.fileSlug }}" class="media">
          <figure class="media-left">
            <svg viewBox="0 0 512 512" width="64">
              {% include why.data.icon %}
            </svg>
          </figure>
          <div class="media-content">
            <div class="content has-text-weight-bold is-medium">
              {{ why.data.title }}
            </div>
            <div class="content">
              {{ why.templateContent }}
            </div>
          </div>
        </article>
        {%- endfor -%}
      </div>
    </div>
  </section>
  <footer class="footer">
    {% include 'footer', indexPage: true %}
  </footer>
</body>

</html>
